{% extends 'shop/base.html'%} {% block head %}
<title>Contact Us</title>
<style>
    .img_count {
        display: flex;
        justify-content: center;
    }
</style>
{% endblock %} {% block content %}
<div class="container">
    <div class="img_cont">
        <img src="{{product.image.url}}">
    </div>
    <h1>{{product.product_name}}</h1>
    <p>{{product.product_description}}</p>
    <h2>{{product.price}}</h2>
    <a href="{% url 'Checkout'%}"><button class="btn btn-primary">Checkout</button></a>
</div>
{% endblock %}